<div class="col-lg-10 col-lg-offset-1">
    <div class="jumbotron">

        <div id="TituloHome"><h1>{{titulo}}</h1></div>
        
        <img alt="imagen" src="assets/imagenes/jc3.png" />
        <div id="botoneraInferior">
            <a [routerLink]="['/Home']" class="btn btn-lg btn-primary">Home</a>
            <a [routerLink]="['/ListGrupos']" class="btn btn-lg btn-primary">Grupos</a>
            <a [routerLink]="['/AltaUsuarios']" class="btn btn-lg btn-primary">Alta Usuarios</a>
            <!--<li><a [routerLink]="['/DatosUsuario']">Mis Datos Usuario</a></li>      -->
            <a [routerLink]="['/Login']" class="btn btn-lg btn-primary">Login</a>
        </div>
    </div>
</div>
        <!--
            class="btn btn-lg btn-primary"
             class="btn btn-lg btn-success"

             class="btn btn-md btn-primary" 
             class="btn btn-md btn-warning" 
             class="btn btn-md btn-danger" 
        -->
        