<div class="col-lg-10 col-lg-offset-1">
    <div class="jumbotron">
        <div id="Titulo"><h3>{{titulo}}</h3></div>

        <div *ngIf="!grupos">
            <h3>No se han formado todavía los grupos.</h3>
        </div>
        <div *ngIf="grupos">
            <div *ngFor="let grupo of grupos">
                <h3>{{grupo.nombre}}</h3>
                <a [routerLink]="['/ListActividadesById', grupo.id]">Lista de Actividades del Grupo</a>
            </div>
        </div>
        <div id="botoneraInferior">
            <a [routerLink]="['/Home']" class="btn btn-lg btn-primary">Home</a>
            <a [routerLink]="['/ListGrupos']" class="btn btn-lg btn-primary">Grupos</a>
            <a [routerLink]="['/AltaUsuarios']" class="btn btn-lg btn-primary">Alta Usuarios</a>
            <!--<li><a [routerLink]="['/DatosUsuario']">Mis Datos Usuario</a></li>      -->
            <a [routerLink]="['/Login']" class="btn btn-lg btn-primary">Login</a>
        </div>
    </div>
</div>



<!--ANTES SENTIDO: <div> <app-ListActividades [grupoSel]="grupo"></app-ListActividades> </div> -->


<!--<span (click)="seleccionaGrupo(grupo)">-->
<!--(onResult)="onUserEdited($event)"-->
<!-- style="display:none"> -->
<!--<form #formGrupos="ngFormGrupos" id="FormGrupos">-->
<!--<span (click)="onClickGrupo(grupo.id)">-->
    

<!--
<div *ngIf="grupos">
    <ul>       
        <li *ngFor="let grupo of grupos" (click)="onClickGrupo(idGrupo)">  
            <div style="display:none">[idGrupo] = {{grupo.id}}</div>
            {{grupo.nombre}}    
        </li>
    </ul>
    <div >
        <app-Div>
                      
        </app-Div>
    </div>    
</div>-->